
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a:hover{
    text-align: center;
    background-color: #001d3d;
    color: white;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none; 
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
.home-grid{
    text-align: center;
}
#background {
    height: 725px;
    background-color: #001d3d
}
body{
    background-color:#003566;
}
header{
    background-color: #ffc300;
}
.book, .join{
    background-color: #001d3d;
    color: #ffc300;  
    text-decoration: none; 
}
.book:hover, .join:hover{
    background-color: #ffc300;
    color: white;
}
.msg{
    background-color: #ffc300;
}
footer{
    background-color: #000814;
    color: white;
}
.home-title, h4 {
    color: #ffc300;
}
.msg h2 { 
    color: #000814;
}
.msg p{ 
    color: #000814;
}
footer a{
    color: white;
    text-decoration: none; 
}
footer a:hover{
    color: #ffc300 ; 
}
.logo{
  width: 80px;
}
.icon{
    width: 80px;
}
#hero-image{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    