

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sigmar&display=swap');


:root{
    --heading-font: Sigmar;
    --paragraph-font: "Open Sanse", Helvetica, sans-serif;
}
.home-title {
    margin-top: 10px;
    font-family: Sigmar, Helvetica, sans-serif;
    font-size: 2em;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a:hover{
    text-align: center;
    background-color: #001d3d;
    color: white;
}
nav a{
    
    padding: 35px;
    text-align: center;
    color: black;
    text-decoration: none; 
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
.home-grid{
    
    text-align: center;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
#background {
   
    height: 725px;
    background-color: #001d3d
}
body{
    font-size: 22px;
    background-color:#003566;
    font-family: var(--heading-font);
    margin: 0;
    padding: 0;
}
#logo_link{
    padding-top: 5px;
}
header{
    background-color: #ffc300;
}
.book, .join{

    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #001d3d;
    color: #ffc300;  
    text-decoration: none; 
}
.book:hover, .join:hover{
    background-color: #ffc300;
    color: white;
}
.msg{
    padding: 35px;
    line-height: 1.5em;
    background-color: #ffc300;
    font-family: var(--paragraph-font);
}
footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: steelblue;
    color: white;
}
.home-title, h4 {
    color: #ffc300;
}
.msg h2 { 
    font-family: var(--heading-font);
    color: #000814;
}
.msg p{
    
    padding-bottom: 15px; 
    font-size: .8em;
    color: #000814;
}
footer a{
    
   
    color: white;
    text-decoration: none; 
}
footer a:hover{
    color: #ffc300 ; 
}
.logo{
  width: 80px;
}
.icon{
  
    padding-top: 10px;
    width: 80px;
}
#hero-image{
    width: 100%;
}
footer p {
    
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
h2{
    margin: 0;
}

footer .social img{
    padding: 15px;
    
}
.card-image{
    border: 10px solid #ffc300;
}
main section img{
    box-sizing: border-box;
}
