
body {
    border: 2px solid blue;
    margin: 0;
    font-size: 20px;
  }

  nav{
    text-align: center;
    border: 2px solid blue;
    background-color: steelblue;
    padding: 50px;
  }

  a {
    border: 2px solid blue;
    font-size: 1.5em;
    color: white;
    margin: 40px;
    padding: 25px;
  }
  h1 {
    text-align: center;
    border: 2px solid blue; 
    color: steelblue;
    margin: 50px 0;
  }
  img {
    
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
  }
  p {
    
    border: 2px solid blue;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  footer  {
    text-align: center;
    border: 2px solid blue;
    background-color: steelblue;
    color: white;
    
  }
  .main-para {
    
    border: 2px solid blue;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    

  }
  #active{
    border: 2px solid blue;
    background-color: white;
    color: steelblue;
  }
  footer p{
    padding: 25px;
  }
  

  


 